  <div class="form-group col-md-12 d-flex justify-content-center">
    <label>Subject:</label>
    <input [(ngModel)]="meeting.MeetingSubject" class="form-control">

  </div>
  <div class="form-group col-md-12 d-flex justify-content-center">
    <label>Agenda:</label>
    <input [(ngModel)]="meeting.MeetingAgenda" class="form-control">
  </div>
  <div class="form-group col-md-12 d-flex">
    <label>Time:</label>
    <input [(ngModel)]="meeting.MeetingTime" type="datetime-local" class="form-control">
  </div>
  <div class="form-group col-md-12 d-flex">
    <label>Attendees:</label>
    <input [(ngModel)]="meeting.Attendees" class="form-control">
  </div>

  <div class="row">
    
    <div class="col-md-12 d-flex justify-content-center">
      &nbsp;&nbsp; <button type="submit" (click)="onSave()" class="btn btn-primary mr-1">
        <i class="fas fa-arrow-left pr-1"></i>Submit</button>
        &nbsp;&nbsp;
      <button type="button" (click)="goBack()" class="btn btn-primary mr-1">
        <i class="fas fa-arrow-left pr-1"></i>Back</button>
    </div>
  </div>
