<div class="form-group">
    <label>Meeting Subject:</label>
    <input [(ngModel)]="meeting.MeetingSubject" class="form-control">
  </div>
  <div class="form-group">
    <label >Meeting Agenda:</label>
    <input [(ngModel)]="meeting.MeetingAgenda" class="form-control">
  </div>
  <div class="form-group">
    <label >MeetingTime:</label>
    <input [(ngModel)]="meeting.MeetingTime" type="datetime"  class="form-control">
  </div>
  <div class="form-group">
    <label >Attendees:</label>
    <input [(ngModel)]="meeting.Attendees" class="form-control">
  </div>
 
  <button (click)="onSave()" type="submit" class="btn btn-default">Submit</button>
